.field-dropdown-panel {
	position: fixed;
	z-index: 1000;
	display: none;
	min-width: 12rem;
	max-width: min(32rem, calc(100vw - 2rem));
	max-height: min(20rem, calc(100vh - 2rem));
	overflow: auto;
	background: #fff;
	border-radius: .6rem;
	box-shadow: 0 .3rem 1rem hsl(0 0% 0% / 12%);
}

.field-dropdown-panel.active {
	display: block;
}

.field-dropdown-list,
.field-dropdown-calendar {
	padding: 1rem;
}

.field-dropdown-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.field-dropdown-list > li {
	display: flex;
	align-items: center;
	padding: .45rem .7rem;
	cursor: pointer;
	user-select: none;
	white-space: nowrap;
}