.field-dropdown-panel {
	position: fixed;
	z-index: 3;
	display: none;
	background: #fff;
	border-radius: .6rem;
	box-shadow: 0 .3rem 1rem hsl(0 0% 0% / 12%);
	overflow: hidden;
}

.field-dropdown-panel.active {
	display: block;
}

.field-dropdown-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .4rem .5rem;
}

.field-dropdown-label {
	font-weight: 600;
}

.field-dropdown-count {
	font-size: .8rem;
}

.field-dropdown-list,
.field-dropdown-calendar {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: auto;
}

.field-dropdown-list {
	width: 20rem;
	height: 12rem;
}

.field-dropdown-calendar {
	width: 18rem;
	height: 10rem;
}

.field-dropdown-list > li {
	display: flex;
	align-items: center;
	padding: .45rem .7rem;
	cursor: pointer;
	user-select: none;
	white-space: nowrap;
}

.field-dropdown-list > li.selected {
	background: hsl(0 0% 80%);
}