.field-dropdown-panel {
	position: fixed;
	z-index: 1000;
	display: none;
	background: #fff;
	border-radius: .6rem;
	box-shadow: 0 .3rem 1rem hsl(0 0% 0% / 12%);
}

.field-dropdown-panel.active {
	display: block;
}

.field-dropdown-label {
	font-weight: 600;
}

.field-dropdown-list,
.field-dropdown-calendar {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: auto;
}

.field-dropdown-list {
	width: 18rem;
	height: 15rem;
}

.field-dropdown-calendar {
	width: 18rem;
	height: 15rem;
}

.field-dropdown-list > li {
	display: flex;
	align-items: center;
	padding: .45rem .7rem;
	cursor: pointer;
	user-select: none;
	white-space: nowrap;
}